@font-face{
    font-family:"TTLakes";
    src:url(/font/TTLakes-Medium.ttf);
}
/* mobile-resolution */
body {
    font-family:'TTLakes', monospace;
    
    flex-wrap: wrap;
}


.tabletop{
    display: none;
}

.desktop{
    display: none;
}

.aside, .main {
  width: 100%;
  min-height: 1px;
}

    
.main {
    border-bottom: 1px #B8FFEC  solid;
    background-color: #F8F8F8;
}
    .header {
        max-height: 88px;
        background-color:#FFFFFF;
    }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;
        
            }
            .settings-span_desktop
            {display: none;
            }
        .menu:first-child{
            margin-left: 16px;
        }
        .menu:last-child{
            margin-right: 16px;
        }
     
 
.aside{
    background: #F8F8F8;
    padding-top: 24px;
}
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        }
        .title_text {
            margin: 0;
            margin-left: 16px;
        }
 
    .slide-menu{
    padding: 0 10px;
    }
        .slide-menu_bar {
            height: 65px;
            display: flex;
            overflow: auto;
            align-items: center;
            white-space: nowrap;
        }
        .slide-menu_button {
            border: 2px solid transparent;
            padding: 10px;
        text-align: center;
        }
        .slide-menu_button:hover{
            border: 2px #B8FFEC solid;
            border-radius: 6px;
            background-color: white;
        }    #otz{
              display: none;}
        
 .block {}
     .block_text{
        margin-left: 16px;
     }
     .block_button{
         height: 24px;
         display: flex;
         align-items: center;
         margin: 16px;
     }
     .block-image{
         max-width: 100%;
         max-height: 100%;
         object-fit: cover;
     }
  







/* 700-1400 resolution */
@media (min-width: 700px) {
  .aside {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;;
    order: 1;
  }
  .main {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    order: 0;
  }
  .block{
    display:block;
  }

  .tabletop {
    display: contents;
  }
  .block_image{
    
    float: right;
    width: 45%;
    margin-right: 20px;
  }
  .block_text{
    font-size: 13px;
    margin-left: 16px;
    float: left;
    width: 45%;
  }

}


/* 1400+ resolution */
@media (min-width: 1400px) {
  .aside {
    flex: 0 0 75%;
    max-width: 75%;
    
  }
  .main {
    flex: 0 0 75%;
    max-width: 75%;
    border-bottom: none;
  }
  .header {
    max-height: 88px;
    float: right;
    min-width: 30%;
    background-color:#F8F8F8;
  } 
  .slide-menu_bar{
    display: flex;
    flex-wrap: wrap;
  }
    #otz{
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 10px;
  }

    .header_menu-logo,.header_menu-img,.header_menu-border{
      display: none;
    } 
    .header_menu-settings,.header_menu-search{
      margin-left: 30px;
      display: flex;
      align-items: center;
    }
    .header_menu-top{margin-left: 20px;}
    .settings-span_desktop{display: contents;}

  .desktop {
    display: contents;}

    .block{
    display:block;
    min-height: 320px;
    }

    .block-text{
      font-size: 15px;
    margin-left: 16px;
    float: left;
    max-width: 46%;
  }
    .block-image {
    float: right;
    width: 46%;
    margin-right: 20px;
    }
}







